@import './../../assets/scss/mixins/mixins';
@import './../../assets/scss/variables/variables';

.tooltip {
    @include hide();
    @include transform(translateX(5px));
    @include transition(.100s);
    background-color: $color-black;
    position: absolute;
    white-space: nowrap;
    border-radius: 5px;
    top: 0;
    left: calc(100% + 15px);
    font-size: 14px;
    padding: 5px 8px;

    &:before {
        content: '';
        @include triangle-left(5px);
        position: absolute;
        top: calc(50% - 5px);
        left: -5px;
    }

    .is-open {
        @include show();
        @include transform-none();
    }
}